<dl>
    <dt>
        عنوان
    </dt>
    <dd>
        {{project.title}}
    </dd>
    <dt>
        نوع پروژه 
    </dt>
    <dd>
        {{project.projectType.title}}
    </dd>
    <dt>
        آدرسی
    </dt>
    <dd>
        {{project.address}}
    </dd>

    <dt>
        نقشه
    </dt>
    <dd
        *ngIf="project.map"
    >
        <div [innerHTML] = "svgPath"></div>
    </dd>
</dl>

<a
    *ngIf="project"
    [routerLink]="['..','detail', project._id]"
    title="واحد ها"
>
    واحد ها
</a>