<loading-list
    *ngIf="isLoading"
></loading-list>

<!-- <project-plan></project-plan> -->

<!-- dosent show links  -->

<svg-viewer
    *ngIf="svgContent"
    [svgContnet]="svgContent"
></svg-viewer>



<block-panel
    *ngIf="projectId"
    [projectId]="projectId"
></block-panel>


<router-outlet></router-outlet>



<!-- <dl
    *ngIf="!isLoading && project"
>
    <dt>
        عنوان
    </dt>
    <dd>
        {{project.title}}
    </dd>
    <dt>
        نوع پروژه 
    </dt>
    <dd>
        {{project.projectType.title}}
    </dd>
    <dt>
        آدرسی
    </dt>
    <dd>
        {{project.address}}
    </dd>

    <dd>
        بلوک ها
    </dd>

    <dd>
        <ul
            *ngIf="blockList"
        >
            <li
                *ngFor = 'let blockItem of blockList'
            >
                <dl>
                    <dt>
                        بلوک
                    </dt>
                    <dd>
                        {{blockItem.block}}
                    </dd>

                    <dt>
                        طبقات
                    </dt>
                    <dd>
                        <ul>
                            <li
                                *ngFor = 'let blockFloorItem of getFloorList(blockItem.projectItems)'
                            >
                                <dl>
                                    <dt>
                                        طبقه
                                    </dt>
                                    <dd>
                                        {{blockFloorItem.floor}}
                                    </dd>

                                    <dt>
                                        واحد
                                    </dt>
                                    <dd>
                                        <ul>
                                            <li
                                                *ngFor = 'let blockFloorUnitItem of getUnitList(blockFloorItem.projectItems)'
                                            >
                                                
                                                <dl>
                                                    <dt>
                                                        واحد
                                                    </dt>
                                                    <dd>
                                                        {{blockFloorUnitItem.unit}}
                                                    </dd>
                                                </dl>
                                                <a
                                                    *ngIf="project"
                                                    [routerLink]="['projectItem', 'detail',blockFloorUnitItem.projectItems[0]._id]"
                                                    title="مشاهده جزئیات"
                                                >
                                                    مشاهده جزئیات
                                                </a>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                
                            </li>
                        </ul>
                    </dd>
                </dl>
                
            </li>
        </ul>
    </dd>



     <dt>
        واحد ها
    </dt>
    <dd>
        <ul>
            <li
                *ngFor = 'let projectItem of project.projectItems'
            >
                <dl>
                    <dt>
                        زیر بنا
                    </dt>
                    <dd>
                        {{projectItem.buildupArea}}
                    </dd>
            
                    <dt>
                        بلوک
                    </dt>
                    <dd>
                        {{projectItem.block}}
                    </dd>
            
                    <dt>
                        طبقه
                    </dt>
                    <dd>
                        {{projectItem.floor}}
                    </dd>
            
                    <dt>
                        واحد
                    </dt>
                    <dd>
                        {{projectItem.unit}}
                    </dd>
            
                    <dt>
                        آسانسور
                    </dt>
                    <dd>
                        دارد
                    </dd>
            
                    <dt>
                        انباری
                    </dt>
                    <dd>
                        دارد
                    </dd>
            
                    <dt>
                        پارکینگ
                    </dt>
                    <dd>
                        دارد
                    </dd>
            
                    <dt>
                        توضیحات
                    </dt>
                    <dd>
                        این یک متن نمونه هستش
                    </dd>
            
                    <dt>
                        تصاویر
                    </dt>
                    <dd>
                        <project-item-gallery-panel
                            *ngIf="projectItem && projectItem.projectItemGalleryList && projectItem.projectItemGalleryList.length > 0"
                            [projectItemGalleryList] = 'projectItem.projectItemGalleryList'
                        ></project-item-gallery-panel>
                    </dd>
            
                </dl>
            </li>
        </ul>
    </dd> 
</dl> -->